.navbar-brand img{
    max-width: 67px;
}
.header-container{
    padding: 0;
    padding-top: 60px;
}
.brand-heading img{
    width: 100%;
}
.intro-body{
    background: none;
    background-color: #ffffff;
}
.nav-link{
    color: #af286f !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.nav-link:hover{
    color: #6bc2ca !important;
    transition: all 0.3s ease-in-out;
    background: none;
}

.navbar-shrink{
    background: #ffffff !important;
    border-bottom: 2px solid #af286f !important;
}
.navbar-shrink .nav-link{
    color: #6bc2ca !important;
}

.navbar-shrink .nav-link:hover{
    color: #af286f !important;
    transition: all 0.3s ease-in-out;
}
#about{
    background: #af286f; /* Old browsers */
    background: -moz-linear-gradient(top, #af286f 0%, #6bc2ca 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #af286f 0%,#6bc2ca 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #af286f 0%,#6bc2ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af286f', endColorstr='#6bc2ca',GradientType=0 ); /* IE6-9 */
    font-family: 'Montserrat', sans-serif;
}
#address{
    height: 100%;
    overflow: hidden;
    padding: 0;
}

#address .row{
    background: rgba(39,62,84,0.62);
    overflow: hidden;
    height: 100%;
    z-index: 2;
    padding: 200px 0;
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: #fff;
    color: #000;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#discrict{
    /*background-color: #af286f !important;*/
    padding: 120px 0;
}
#district h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.title{
    text-align: center;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
}
.title h1{
    font-weight: 600;
}
.collapsible-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding: 10px !important;
}
.collapsible-header span{
    font-weight: 400;
}
.collapsible-header .active i{
    transform: rotate(90deg);
    transition: all 0.3s;
}
.collapsible-body{
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.social-links{
    position: absolute;
    text-align: center;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.social-links i{
    color: #af286f;
}
.collapsible-body .mb-4{
    padding-top: 30px;
}
.collapsible-body h4{
    font-weight: 600;
}
.collapsible-body small{
    display: block;
}
.tabla-c{
    margin-bottom: 80px !important;
}
.navbar-toggler{
    color: #000 !important;
    border: 1px solid black !important;
}


@media only screen and (max-width: 768px) {
    .masthead{
        padding: 0 !important;
    }
    .masthead .row{
        width: 100%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 500px) {
    #district h1{
        font-size: 34px;
    }
    .title h1{
        font-size: 40px;
    }
    .title h3{
        font-size: 29px;
    }
    .collapsible-header {
        font-size: 18px;
    }
}
.js-scroll-trigger{
    color: #6bc2ca;
}
.js-scroll-trigger i{
    color: #6bc2ca;
}
.navbar-toggler-icon{
    color: black !important;
}
