/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  border-radius: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-right: 20px;
  
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
 
}

#merde {
  margin: 0 auto;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

#pac-input {
  color:#6bc2ca;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  text-align: center;
}

#pac-input:focus {
  border-color: #6bc2ca;
}

#title {
  color: #fff;
  background-color: #af286f;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
  margin: 0 auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6bc2ca;
    opacity: 1; /* Firefox */
}
